
.card-parent-pane{

    -fx-background-color: white;
}

.card-pane{

    -fx-background-color: white;
    -fx-border-color: #0022;
    -fx-border-width: 1;
    -fx-border-radius: 3;
}

.card-label{

    -fx-background-color: white;
    -fx-border-color: #0022;
    -fx-border-radius: 3;
}

.button {

    -fx-background-color: #e1e1e1;
    -fx-border-color: #0022;
    -fx-border-radius: 2px;
}


.button:hover {
    -fx-background-color: #ededed;
}

.button:armed {
    -fx-background-color: #d7d7d7;
}

.check-box .box {
    -fx-background-color: #e1e1e1;
    -fx-border-color: #0022;
}

.check-box .box:hover {
    -fx-background-color: #ededed;
}

.radio-button .radio {
    -fx-background-color: #e1e1e1;
    -fx-border-color: #0022;
    -fx-border-radius: 10px;
}

.radio-button .radio:hover {
    -fx-background-color: #ededed;

}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #bfbfbf;
    -fx-border-radius: 2px;
}


.choice-box{

    -fx-background-color: #e1e1e1;
    -fx-border-color: #0022;
    -fx-border-radius: 2px;
}

.choice-box:hover {
    -fx-background-color: #ededed;
}

.combo-box .text-field {
    -fx-background-color: white;
    -fx-border-color: transparent;
}
.combo-box .arrow-button{
    -fx-background-color: e1e1e1;
    -fx-background-radius: 2px;
    -fx-border-color: #0022;
    -fx-border-radius: 2px;
}

.combo-box .arrow-button:hover {
    -fx-background-color: #ededed;
}


.spinner .text-field {
    -fx-background-color: white;
    /*-fx-border-color: grey;*/
}

.spinner {

    -fx-background-color: white;

}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #d7d7d7;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #ededed;
}

.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-background-color: #d7d7d7;
}



