/* =========== Button style =========== */

.button {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 0;
    -fx-border-width: 1px;

    -fx-pref-height: 28;
    -fx-min-height: 28;
    -fx-pref-width: 100;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #f5f5f5;
}

.button:armed {
    -fx-background-color: #fafafa;
}

.button:focused {
    -fx-border-color: darkturquoise;
}


/* =========== TextArea style =========== */

.text-area {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-padding: 0 1 -1 0;
}

.text-area:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-area .content {
    -fx-background-color: white;
}

.text-area:focused .content {
    -fx-background-color: white;
}


/* ========== TitledPane style ========== */

.titled-pane {
    -fx-background-color: white;
}

.titled-pane > .title {
    -fx-background-color: #fcfcfc;
    -fx-background-radius: 0px;
    -fx-border-color: #e6e6e6;
    -fx-border-width: 1px;
    -fx-padding: 3;
}

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: darkturquoise;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.titled-pane > *.content {
    -fx-background-color: white;
    -fx-border-color: #e6e6e6;
    -fx-border-width: 1px;
}


/* ========== Scrollbar style ========== */

.scroll-bar:vertical {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0 -2 0 -2;
    -fx-padding: 0px;
}

.scroll-bar:horizontal {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0 -6 0 0;
    -fx-padding: 0px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,110%);
    -fx-background-insets: -1, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: derive(black,110%);
    -fx-background-insets: 1, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal.decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical.decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 0 10 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}


/* =========== Checkbox style =========== */

.check-box .box {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-color: #d7d7d7;
    -fx-border-width: 1px;
    -fx-border-radius:0;
}

.check-box:hover .box {
    -fx-background-color: #fafafa;
}

.check-box:armed .box {
    -fx-background-color: white;
}

.check-box:focused .box {
    -fx-border-color: darkturquoise;
}

.check-box:selected .mark {
    -fx-background-color: #28a3f4;
}


/* ========== TextField style ========== */

.text-field {
    -fx-background-color: #cdcdcd, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.text-field:focused {
    -fx-background-color: darkturquoise, white;
}

.text-field:disabled {
    -fx-background-color: #dcdcdc, #f8f8f8;
}


/* ========== TabPane style ========== */

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-insets: 5 0 0 0;
    -fx-opacity: 0;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 5 2 -1 87;
}

.tab-pane {
    -fx-tab-min-width:90px;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 1 1 0 1,0,0;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected {
    -fx-background-color: #c3e6f5;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #737373;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #336069;
}

